@page "/register"
@inject IAuthenticationService authService
@inject NavigationManager navigationManager

<EditForm Model="User" OnValidSubmit="RegisterMe" class="pt-4">
    <DataAnnotationsValidator />
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-2">
                            <strong>Sign Up</strong>
                        </h3>

                        @if (ShowErrors)
                        {
                            <div>
                                @foreach (var error in Errors)
                                {
                                    <p class="text-danger text-center">@error</p>
                                }
                            </div>
                        }

                        <hr class="mySep" />
                        <div class="py-2">
                            <InputText @bind-Value="User.Name" class="form-control" placeholder="Name..." />
                            <ValidationMessage For="(()=>User.Name)" />

                        </div>
                        <div class="py-2">
                            <InputText @bind-Value="User.Email" class="form-control" placeholder="Email..." />
                            <ValidationMessage For="(()=>User.Email)" />

                        </div>
                        <div class="py-2">
                            <InputText @bind-Value="User.PhoneNo" class="form-control" placeholder="Phone..." />
                            <ValidationMessage For="(()=>User.PhoneNo)" />

                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <InputText @bind-Value="User.Password" type="password" id="password" placeholder="Password..." class="form-control" />
                                <ValidationMessage For="(()=>User.Password)" />
                            </div>
                            <div class="col">
                                <InputText @bind-Value="User.ConfirmPassword" type="password" id="confirm" class="form-control" placeholder="Confirm Password..." />
                                <ValidationMessage For="(()=>User.ConfirmPassword)" />
                            </div>

                        </div>
                        <hr class="mySep" />
                        <div class="py-2">
                            @if (IsProcessing)
                            {
                                <button type="submit" class="btn btn-success btn-block disabled"><i class="fas fa-sign-in-alt"></i> ...</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Register</button>
                            }
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



</EditForm>

@code {
    private UserRequestDTO User = new UserRequestDTO();
    public bool IsProcessing { get; set; } = false;
    public bool ShowErrors { get; set; }
    public IEnumerable<string> Errors { get; set; }

    private async Task RegisterMe()
    {
        ShowErrors = false;
        IsProcessing = true;
        var result = await authService.RegisterUser(User);
        IsProcessing = false;
        if (result.isRegSucc)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            Errors = result.Errors;
            ShowErrors = true;
        }
    }
}
